@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@400;500;600;700&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f0f2f5; /* Soft neutral background */
}

/* Header */

header {
    position: relative;
    width: auto;
    position: relative;
    display: flex;
    padding: 24px 60px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top,#9aabb66c,#9aabb653),url(./images/bg/gray-background-with-white-texture-that-says-grunge_937196-2833.png);
    background-size: auto;
    background-position: center;
    /* z-index: 999; */
}

/* Styles for the navigation title in the header */
header .nav-title {
    color: #596872;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    /* z-index: 999; */
}

/* Styles for the navigation title button (burger menu) */
header .nav-btn {
    display: none;
}

/* Styles for navigation links in the header */
header .nav-links nav {
    display: flex;
    gap: 32px;
}

/* Styles for individual navigation links */
header .nav-links a {
    text-decoration: none;
    color: #324552;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5; /* 150% / 24px */
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

/* Styles for active and hover states of navigation links */
header .nav-links a.active,
header .nav-links a:hover {
    opacity: 1;
    color: #084872;
}

/* Styles for elements related to navigation check and call-to-action button */
header #nav-check {
    display: none;
}

.logo {
    width: 60px;
    height: auto;
    padding: 0;
    margin: 0;
}
.logo-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    text-decoration: none;
}
.logo-section {
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr{
    font-family: "Bebas Neue", sans-serif;
    color: #183a53;
    font-size: 40px;
    font-weight: 900;
}
.code {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
}
.generator {
    font-family: "Bebas Neue", sans-serif;
    color: #1e5275;
    font-size: 38px;
    font-weight: 700;
}

/* MAin */

.main_container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    padding-top: 30px;
    padding-bottom: 80px;
    /* background-image: linear-gradient(to top,#aab2b7cd,#a9b1b720),url(./images/bg/gray-background-with-white-texture-that-says-grunge_937196-2833.png);
    background-size: auto;
    background-position: center; */
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 3% auto  ;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    color: #5a6f7d;
    margin-bottom: 1em;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    line-height: 1.6em;
    margin-bottom: 1em;
}

.wrapper {
    background-color: #ffffff;
    padding: 5em 4em;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
    /* position: relative; */
    width: 31.25em;
    /* transform: translate(-50%, -50%); */
    /* top: 50%; */
    /* left: 50%; */
    border-radius: 0.6em;
    box-shadow: 0 1.5em 3em rgba(0, 0, 0, 0.1); /* Soft shadow */
}

#userInput {
    width: 100%;
    border: none;
    border-bottom: 2px solid #5a6f7d; /* Consistent color */
    padding: 0.5em 1em;
    font-size: 1em;
    outline: none;
}

.options {
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: space-around;

}

select {
    appearance: none;
    width: 8em;
    padding: 0.45em 0.9em;
    font-size: 1.25em;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: #78a1bb; /* Softer blue */
    border: none;
    color: #ffffff;
    border-radius: 0.3em;
}

select::-ms-expand {
    display: none;
}

select option {
    background-color: #ffffff;
    color: #000000;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 1.12em;
}

.selected {
    display: none;
}

.color-inp {
    width: 3.1em;
    height: 3.4em;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    border: none;
}

.color-inp::-webkit-color-swatch {
    border-radius: 0.3em;
    border: 0.18em solid #1e5275;
}
.color-inp::-moz-color-swatch {
    border-radius: 0.3em;
    border: 0.18em solid #1e5275;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.box button,
.box a {
    font-size: 1em;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    margin-top: 2em;
}

.box button:disabled {
    background-color: transparent;
    color: #99aebe;
    border: 0.18em solid #b0b8be;
}

.box button {
    background-color: transparent;
    color: #78a1bb;
    border: 0.18em solid #78a1bb;
    
}

#userInput {
    font-size: 1.1em;
}

select {
    font-size: 1.15em;
}

.box a {
    background-color: #78a1bb;
    color: #ffffff;
    text-decoration: none;
    border: 0.18em solid #78a1bb;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.hide {
    display: none;
}

#userInput:focus {
    border-bottom-color: #0076c0;
}



@media (max-width: 768px) {
    .wrapper {
        display: block;
        justify-content:space-around;
        margin: auto;
        width: auto;
        padding: 2em 1.5em;
    }
    #userInput {
        font-size: 0.9em;
    }
    select {
        width: 100%;
    }
    .color-inp {
        width: 3.5em;
        height: 2.8em;
    }
    .box button, .box a {
        padding: 0.6em 1.5em;
        font-size: 0.9em;
    }
    header {
        padding: 16px;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: gainsboro;
    }
    
    /* Adjust position of nav-title for smaller screens */
    header .nav-title {
    position: relative;
    font-size: 28px;
    line-height: 1; /* 28px */
    letter-spacing: -0.01em;
    }

    /* Styles for the navigation button (burger menu) */
    header .nav-btn {
    display: block;
    position: relative;
    }
    /* Styles for the label wrapping the burger menu icon */
    header .nav-btn label {
    display: block;
    width: 44px;
    height: 44px;
    cursor: pointer; /* Add cursor:pointer to indicate it's clickable */
    }

    /* Styles for the individual spans representing burger menu lines */
    header .nav-btn label span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 2px;
    transform: translate(-50%, -6px);
    background-color: rgb(50, 60, 71);
    transition: 0.3s;
    z-index: 9999;
    }
    header .nav-btn label span + span {
    transform: translate(-50%, 6px);
    }

    

    /* ------------------ Recheck ------------------------------------------- */
    /* Styles for the navigation links container */
    header .nav-links {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to top,#9aabb61e,#9aabb653),url(./images/bg/gray-background-with-white-texture-that-says-grunge_937196-2833.png);
    background-size: auto;
    background-position: center;
    inset: 0;
    height: 100dvh;
    height: 100vh;
    transition: transform 0.3s ease;
    isolation: isolate;
    padding: 24px;
    }

    header .nav-links nav {
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
    }

    /* Styles for individual navigation links in smaller screens */
    header .nav-links a {
    font-size: 24px;
    }
    /* Styles for burger-to-X transformation when the navigation is checked */
    header #nav-check:checked ~ .nav-btn label span:nth-child(1) {
    transform-origin: center;
    transform: translate(-50%, 0) rotate(-45deg);
    }

    header #nav-check:checked ~ .nav-btn label span:nth-child(2) {
    transform-origin: center;
    transform: translate(-50%, 0) rotate(45deg);
    }
    /* Styles for expanding and collapsing the navigation links */
    header #nav-check:not(:checked) ~ .nav-links {
    transform: translateY(-100%);
    }

    header #nav-check:checked ~ .nav-links {
    transform: translateY(0);
    }
    .main_container {
        padding-top: 30%;
    }
}


/* Footer Section */
.footer {
    display: flex;
    justify-content: center;
    background-color: #596872; /* Darker shade */
    padding: 1em;
    position: relative;
    bottom: 100%;
    width: 100%;
    height: 110%;
    padding: 30px 0;
}

.footer div {
    margin: 0 1em;
    display: flex;
}
.footer-links {
    display: flex;
}

.footer a {
    font-size: 22px;
    color: #b1b0b0;
    text-decoration: none;
}

.footer a:hover {
    color: #d3d3d3; /* Light grey hover effect */
}






